In [21]:
# Importing the libraries
import numpy as np
import pandas as pd
import sklearn.datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from matplotlib import colors
import statsmodels.api as sm
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [26]:

# Load CSV files into DataFrames
lab_value_df = pd.read_csv('lab_value.csv')
vital_value_df = pd.read_csv('vital_value.csv')
admission_df = pd.read_csv('admission.csv')
lab_value_label_df = pd.read_csv('lab_value_label.csv')
vital_value_label_df = pd.read_csv('vital_value_label.csv')

In [25]:
data_paths = ["lab_value.csv", "vital_value.csv", "admission.csv","lab_value_label.csv","vital_value_label.csv"]

# Data Information
data_info = [pd.read_csv(data).info() for data in data_paths]
data_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6143467 entries, 0 to 6143466
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   case_id             int64
 1   lab_value_label_id  int64
 2   sample_type_id      int64
 3   record_time         object
 4   lab_value           float64
 5   unit_type_id        int64
dtypes: float64(1), int64(4), object(1)
memory usage: 281.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7797029 entries, 0 to 7797028
Data columns (total 5 columns):
 #   Column                Dtype
---  ------                -----
 0   case_id               int64
 1   vital_value_label_id  int64
 2   record_time           object
 3   vital_value           float64
 4   unit_type_id          float64
dtypes: float64(2), int64(2), object(1)
memory usage: 297.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5524 entries, 0 to 5523
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      5524 non-null   int64
 1   case_id         5524 non-null   int64
 2   admission_time  5524 non-null   object
 3   discharge_time  5524 non-null   object
 4   patient_age     5524 non-null   int64
 5   patient_height  5524 non-null   int64
 6   patient_weight  5524 non-null   float64
 7   e_type          5523 non-null   object
 8   e_reason        5523 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 388.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862 entries, 0 to 861
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 862 non-null    int64
 1   label_name         862 non-null    object
 2   label_description  0 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 20.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 9 non-null      int64
 1   label_name         9 non-null      object
 2   label_description  0 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 344.0+ bytes

[None, None, None, None, None]

In [30]:
#Remove null values:

data_paths = ["lab_value.csv", "vital_value.csv", "admission.csv","lab_value_label.csv","vital_value_label.csv"]

# Data Information
data_info = []

# Load and clean each DataFrame
for data in data_paths:
    df = pd.read_csv(data)
    if df is not None:
        df_cleaned = df.dropna()
        data_info.append(df_cleaned)

# Print information about cleaned DataFrames
for df_cleaned in data_info:
    print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6143467 entries, 0 to 6143466
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   case_id             int64
 1   lab_value_label_id  int64
 2   sample_type_id      int64
 3   record_time         object
 4   lab_value           float64
 5   unit_type_id        int64
dtypes: float64(1), int64(4), object(1)
memory usage: 328.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   case_id               0 non-null      int64
 1   vital_value_label_id  0 non-null      int64
 2   record_time           0 non-null      object
 3   vital_value           0 non-null      float64
 4   unit_type_id          0 non-null      float64
dtypes: float64(2), int64(2), object(1)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5523 entries, 1 to 5523
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      5523 non-null   int64
 1   case_id         5523 non-null   int64
 2   admission_time  5523 non-null   object
 3   discharge_time  5523 non-null   object
 4   patient_age     5523 non-null   int64
 5   patient_height  5523 non-null   int64
 6   patient_weight  5523 non-null   float64
 7   e_type          5523 non-null   object
 8   e_reason        5523 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 431.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 0 non-null      int64
 1   label_name         0 non-null      object
 2   label_description  0 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 0.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 0 non-null      int64
 1   label_name         0 non-null      object
 2   label_description  0 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 0.0+ bytes
None

In [31]:
#show top rows
top_rows = [pd.read_csv(data).head(1000) for data in data_paths]
top_rows

[      case_id  lab_value_label_id  sample_type_id          record_time  \
 0    37033628                  15              79  2017-07-24 08:32:00
 1    37033628                  42              79  2017-01-12 06:07:00
 2    37033628                  43              79  2017-06-06 13:35:00
 3    37033628                  43              79  2017-06-06 14:03:00
 4    37033628                  44              79  2017-01-12 06:07:00
 ..        ...                 ...             ...                  ...
 995  37033628                 188              79  2017-03-28 07:15:00
 996  37033628                 188              79  2017-04-04 06:53:00
 997  37033628                 188              79  2017-04-11 05:18:00
 998  37033628                 188              79  2017-04-25 09:18:00
 999  37033628                 188              79  2017-05-09 06:51:00

      lab_value  unit_type_id
 0         25.0            47
 1         10.0             1
 2         80.0             1
 3         74.0             1
 4         69.0             1
 ..         ...           ...
 995     1820.0            58
 996     1697.0            58
 997     1862.0            58
 998     1903.0            58
 999     1878.0            58

 [1000 rows x 6 columns],
       case_id  vital_value_label_id          record_time  vital_value  \
 0    40340113                     2  2020-12-13 22:30:20         73.0
 1    38036678                     2  2018-02-18 23:30:13         68.0
 2    39237148                     3  2019-07-03 08:00:33        122.0
 3    39204503                     7  2019-08-25 23:30:26        136.0
 4    38056270                     9  2018-01-28 20:02:36         88.0
 ..        ...                   ...                  ...          ...
 995  38371348                     7  2018-12-03 13:03:11        112.0
 996  38202508                     3  2018-06-17 04:00:44        100.0
 997  37308705                     5  2017-10-26 00:30:54         95.0
 998  40066087                     9  2020-01-31 21:34:03         91.0
 999  37384265                     1  2018-01-01 10:30:27         10.0

      unit_type_id
 0             NaN
 1             NaN
 2             NaN
 3             NaN
 4             NaN
 ..            ...
 995           NaN
 996           NaN
 997           NaN
 998           NaN
 999           NaN

 [1000 rows x 5 columns],
      patient_id   case_id       admission_time       discharge_time  \
 0       1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
 1       2335739  37052363  2017-02-06 09:59:00  2017-03-14 16:19:00
 2       2323947  37058082  2017-03-27 10:04:00  2017-04-05 12:03:00
 3       1043682  37058380  2017-03-06 09:45:00  2017-03-16 10:40:00
 4       2338083  37064614  2017-01-27 12:37:00  2017-03-18 14:27:00
 ..          ...       ...                  ...                  ...
 995     2403454  37398539  2017-12-20 17:00:00  2018-01-08 11:00:00
 996     2403501  37398674  2017-12-21 15:07:00  2018-01-05 12:45:00
 997     2336282  37398916  2017-12-21 12:14:00  2018-01-24 11:22:00
 998     1275523  37399316  2017-12-22 11:30:00  2018-01-12 09:56:00
 999     1673945  37399433  2017-12-22 15:00:00  2018-01-26 10:03:00

      patient_age  patient_height  patient_weight e_type  e_reason
 0             61             171            54.0    NaN       NaN
 1             82             160            88.0      V      69.0
 2             65             176            93.0      N      11.0
 3             35             172           117.0      N      12.0
 4             66             180            52.0      V      69.0
 ..           ...             ...             ...    ...       ...
 995           74              -1            -1.0      N     109.0
 996           80             175            73.0      V      69.0
 997           59             180            73.0      N      21.0
 998           65              -1           100.0      N      11.0
 999           87             160            75.0      V      69.0

 [1000 rows x 9 columns],
       id        label_name  label_description
 0      1             11024                NaN
 1      2             11025                NaN
 2      3             11028                NaN
 3      4             11029                NaN
 4      5             11042                NaN
 ..   ...               ...                ...
 857  858        Well B: SR                NaN
 858  859           Zn 1709                NaN
 859  860       Zn im Serum                NaN
 860  861  Zytoz.präp. Liq.                NaN
 861  862  Zytoz.präp. Punk                NaN

 [862 rows x 3 columns],
    id      label_name  label_description
 0   1              AF                NaN
 1   2              HF                NaN
 2   3      HF_Pulsoxy                NaN
 3   4             ICP                NaN
 4   5            SPO2                NaN
 5   6               T                NaN
 6   7   RR (systolic)                NaN
 7   8  RR (diastolic)                NaN
 8   9       RR (mean)                NaN]

In [32]:
# Merge lab_value and vital_value DataFrames based on lab_value and vital value
#Both_DFs contains lab_value_label_id and vital_value_label_id

Both_DFs = pd.merge(lab_value_df.head(1000),vital_value_df.head(1000), left_on=['lab_value'],right_on=['vital_value'])
print(Both_DFs.head())

   case_id_x  lab_value_label_id  sample_type_id        record_time_x  \
0   37033628                  15              79  2017-07-24 08:32:00
1   37033628                  15              79  2017-07-24 08:32:00
2   37033628                  15              79  2017-07-24 08:32:00
3   37033628                  15              79  2017-07-24 08:32:00
4   37033628                  15              79  2017-07-24 08:32:00

   lab_value  unit_type_id_x  case_id_y  vital_value_label_id  \
0       25.0              47   39032093                     1
1       25.0              47   38375865                     1
2       25.0              47   38117889                     1
3       25.0              47   39051551                     1
4       25.0              47   37198001                     1

         record_time_y  vital_value  unit_type_id_y
0  2019-01-28 09:00:54         25.0             NaN
1  2019-01-07 10:30:44         25.0             NaN
2  2018-03-25 18:30:45         25.0             NaN
3  2019-03-03 10:30:23         25.0             NaN
4  2017-09-07 10:30:29         25.0             NaN

In [33]:
# Merge lab_value and vital_value DataFrames based on admission and Both_DFs
# final_df contains patient_id and case_id 

final_df = pd.merge(Both_DFs.head(1000),admission_df.head(1000), left_on=['case_id_x'],right_on=['case_id'])
print(final_df.head())

   case_id_x  lab_value_label_id  sample_type_id        record_time_x  \
0   37033628                  15              79  2017-07-24 08:32:00
1   37033628                  15              79  2017-07-24 08:32:00
2   37033628                  15              79  2017-07-24 08:32:00
3   37033628                  15              79  2017-07-24 08:32:00
4   37033628                  15              79  2017-07-24 08:32:00

   lab_value  unit_type_id_x  case_id_y  vital_value_label_id  \
0       25.0              47   39032093                     1
1       25.0              47   38375865                     1
2       25.0              47   38117889                     1
3       25.0              47   39051551                     1
4       25.0              47   37198001                     1

         record_time_y  vital_value  unit_type_id_y  patient_id   case_id  \
0  2019-01-28 09:00:54         25.0             NaN     1066797  37033628
1  2019-01-07 10:30:44         25.0             NaN     1066797  37033628
2  2018-03-25 18:30:45         25.0             NaN     1066797  37033628
3  2019-03-03 10:30:23         25.0             NaN     1066797  37033628
4  2017-09-07 10:30:29         25.0             NaN     1066797  37033628

        admission_time       discharge_time  patient_age  patient_height  \
0  2017-01-03 11:40:00  2017-07-31 14:00:00           61             171
1  2017-01-03 11:40:00  2017-07-31 14:00:00           61             171
2  2017-01-03 11:40:00  2017-07-31 14:00:00           61             171
3  2017-01-03 11:40:00  2017-07-31 14:00:00           61             171
4  2017-01-03 11:40:00  2017-07-31 14:00:00           61             171

   patient_weight e_type  e_reason
0            54.0    NaN       NaN
1            54.0    NaN       NaN
2            54.0    NaN       NaN
3            54.0    NaN       NaN
4            54.0    NaN       NaN

In [80]:
#m1 = pd.merge(lab_value_df,lab_value_label_df, left_on=['lab_value_label_id'],right_on=['id'])

#m2 = pd.merge(m1.head(1000),admission_df.head(1000), left_on=['case_id'],right_on=['case_id'])

In [34]:

patient_lab_data = Both_DFs[['case_id_x', 'lab_value', 'lab_value_label_id', 'vital_value', 'record_time_x', 'vital_value_label_id', 'unit_type_id_x' ]]
print(patient_lab_data)

      case_id_x  lab_value  lab_value_label_id  vital_value  \
0      37033628       25.0                  15         25.0
1      37033628       25.0                  15         25.0
2      37033628       25.0                  15         25.0
3      37033628       25.0                  15         25.0
4      37033628       25.0                  15         25.0
...         ...        ...                 ...          ...
2471   37033628       94.0                 121         94.0
2472   37033628       94.0                 121         94.0
2473   37033628       94.0                 121         94.0
2474   37033628      152.0                 158        152.0
2475   37033628      115.0                 158        115.0

            record_time_x  vital_value_label_id  unit_type_id_x
0     2017-07-24 08:32:00                     1              47
1     2017-07-24 08:32:00                     1              47
2     2017-07-24 08:32:00                     1              47
3     2017-07-24 08:32:00                     1              47
4     2017-07-24 08:32:00                     1              47
...                   ...                   ...             ...
2471  2017-06-26 11:55:00                     5               1
2472  2017-06-26 11:55:00                     5               1
2473  2017-06-26 11:55:00                     5               1
2474  2017-06-24 03:30:00                     7              40
2475  2017-06-26 23:55:00                     7              40

[2476 rows x 7 columns]

In [35]:
#Feteching data
patient_vital_data = final_df [['patient_id', 'case_id', 'admission_time', 'discharge_time', 'patient_age', 'patient_height', 'patient_weight','sample_type_id']]
print(patient_vital_data)

     patient_id   case_id       admission_time       discharge_time  \
0       1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
1       1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
2       1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
3       1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
4       1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
..          ...       ...                  ...                  ...
995     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
996     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
997     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
998     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
999     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00

     patient_age  patient_height  patient_weight  sample_type_id
0             61             171            54.0              79
1             61             171            54.0              79
2             61             171            54.0              79
3             61             171            54.0              79
4             61             171            54.0              79
..           ...             ...             ...             ...
995           61             171            54.0              79
996           61             171            54.0              79
997           61             171            54.0              79
998           61             171            54.0              79
999           61             171            54.0              79

[1000 rows x 8 columns]

In [23]:
#Feteching data
patient_data = pd.merge(patient_lab_data, patient_vital_data, left_on=['case_id_x'],right_on=['case_id'])
print(patient_data)

         case_id_x  lab_value  lab_value_label_id  vital_value  \
0         37033628       25.0                  15         25.0
1         37033628       25.0                  15         25.0
2         37033628       25.0                  15         25.0
3         37033628       25.0                  15         25.0
4         37033628       25.0                  15         25.0
...            ...        ...                 ...          ...
2475995   37033628      115.0                 158        115.0
2475996   37033628      115.0                 158        115.0
2475997   37033628      115.0                 158        115.0
2475998   37033628      115.0                 158        115.0
2475999   37033628      115.0                 158        115.0

               record_time_x  vital_value_label_id  unit_type_id_x  \
0        2017-07-24 08:32:00                     1              47
1        2017-07-24 08:32:00                     1              47
2        2017-07-24 08:32:00                     1              47
3        2017-07-24 08:32:00                     1              47
4        2017-07-24 08:32:00                     1              47
...                      ...                   ...             ...
2475995  2017-06-26 23:55:00                     7              40
2475996  2017-06-26 23:55:00                     7              40
2475997  2017-06-26 23:55:00                     7              40
2475998  2017-06-26 23:55:00                     7              40
2475999  2017-06-26 23:55:00                     7              40

         patient_id   case_id       admission_time       discharge_time  \
0           1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
1           1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
2           1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
3           1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
4           1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
...             ...       ...                  ...                  ...
2475995     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
2475996     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
2475997     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
2475998     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00
2475999     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00

         patient_age  patient_height  patient_weight  sample_type_id
0                 61             171            54.0              79
1                 61             171            54.0              79
2                 61             171            54.0              79
3                 61             171            54.0              79
4                 61             171            54.0              79
...              ...             ...             ...             ...
2475995           61             171            54.0              79
2475996           61             171            54.0              79
2475997           61             171            54.0              79
2475998           61             171            54.0              79
2475999           61             171            54.0              79

[2476000 rows x 15 columns]

In [21]:
# using function

def get_time_series_data(patient_id):
    
    lab_value_df = pd.read_csv('lab_value.csv')
    admission_df = pd.read_csv('admission.csv')
    vital_value_df = pd.read_csv('vital_value.csv')
    lab_value_label_df = pd.read_csv('lab_value_label.csv')
    vital_value_label_df = pd.read_csv('vital_value_label.csv')
    
    #filtering patient_id from admission table
    f_admission_df = admission_df[admission_df['patient_id'] == patient_id]

    # Get the case_ids for the filtered patient_id from the admission table
    case_ids = f_admission_df['case_id'].tolist()

    # Filter the lab_value table for the case_ids
    f_lab_value_df = lab_value_df[lab_value_df['case_id'].isin(case_ids)]

    # Filter the vital_value table for the case_ids
    f_vital_value_df = vital_value_df[vital_value_df['case_id'].isin(case_ids)]

    # Merge lab_value and lab_label tables on lab_value_label_id
    m_lab_value_df =  pd.merge( f_lab_value_df,f_vital_value_df, left_on=['lab_value'], right_on=['vital_value'])

    # Merge vital_value and vital_label tables on vital_value_label_id
    #merged_vital_value_df = pd.merge(lab_value_df, lab_value_label_df, left_on='lab_value', right_on='id')

    return f_admission_df, m_lab_value_df

get_time_series_data(1066797)

(   patient_id   case_id       admission_time       discharge_time  \
 0     1066797  37033628  2017-01-03 11:40:00  2017-07-31 14:00:00

    patient_age  patient_height  patient_weight e_type  e_reason
 0           61             171            54.0    NaN       NaN  ,
         case_id_x  lab_value_label_id  sample_type_id        record_time_x  \
 0        37033628                  15              79  2017-07-24 08:32:00
 1        37033628                  15              79  2017-07-24 08:32:00
 2        37033628                  15              79  2017-07-24 08:32:00
 3        37033628                  15              79  2017-07-24 08:32:00
 4        37033628                  15              79  2017-07-24 08:32:00
 ...           ...                 ...             ...                  ...
 109213   37033628                 385              79  2017-01-28 22:02:00
 109214   37033628                 568              21  2017-06-23 04:25:00
 109215   37033628                 568              21  2017-06-23 04:25:00
 109216   37033628                 568              21  2017-06-23 04:25:00
 109217   37033628                 473              79  2017-05-12 06:21:00

         lab_value  unit_type_id_x  case_id_y  vital_value_label_id  \
 0            25.0              47   37033628                     1
 1            25.0              47   37033628                     1
 2            25.0              47   37033628                     1
 3            25.0              47   37033628                     1
 4            25.0              47   37033628                     1
 ...           ...             ...        ...                   ...
 109213       36.8               1   37033628                     6
 109214       36.8              36   37033628                     6
 109215       36.8              36   37033628                     6
 109216       36.8              36   37033628                     6
 109217      246.0              58   37033628                     7

               record_time_y  vital_value  unit_type_id_y
 0       2017-07-02 10:30:08         25.0             NaN
 1       2017-07-12 08:31:00         25.0             NaN
 2       2017-07-08 08:30:03         25.0             NaN
 3       2017-07-07 09:00:24         25.0             NaN
 4       2017-06-25 00:00:16         25.0             NaN
 ...                     ...          ...             ...
 109213  2017-06-22 15:31:39         36.8             NaN
 109214  2017-07-09 14:02:10         36.8             NaN
 109215  2017-06-22 16:00:06         36.8             NaN
 109216  2017-06-22 15:31:39         36.8             NaN
 109217  2017-06-27 08:00:47        246.0             NaN

 [109218 rows x 11 columns])